<template>
<div>
    <p width="100vw;" style="font-size: 7vh; margin-bottom:-1vh;"><b>{{title}}</b></p>

    <v-container fluid>
        <v-row dense style="padding-left:5vw; padding-right:5vw;">
            <v-col v-for="card in products" :key="card" :cols="columns">
                <card-product :id="card.id" :title="card.name" :image="card.src" :species="card.species" :old_price="card.oldPrice" :price="card.price" v-on:show_product_intel="show_product_intel" />
            </v-col>
        </v-row>
    </v-container>
</div>
</template>

<script>
// Import components here
Vue.component("card-product", httpVueLoader("../components/card-product.vue"));


module.exports = {
    name: "Layout 02",
    props: {
        title: {
            type: String,
            required: false,
        },
        products: {
            type: Array,
            required: true,
        },
        columns: {
            type: Number,
            required: true
        }
    },
    data() {
        return {};
    },
    methods: {
        show_product_intel: function (id) {
            console.log("Sending event... [ProductsList] -----> [App]");
            this.$emit("show_product_intel", id);
        },
    },

    // Main 
    mounted() {
        console.log("[cordovue] Productlist started! " + this.products);
    },
};
</script>
