<template>
  <!-- v-ripple="{ class: 'text-color' }" v-on:click="emit" -->
  <div
    style="
      height: 100vh;
      width: 100vw;
    "
    class="vertical-center"
  >
    <!--<v-container fluid>
        <v-data-iterator :items="items" :items-per-page.sync="itemsPerPage" :page="page" :search="search" :sort-by="sortBy.toLowerCase()" :sort-desc="sortDesc" hide-default-footer>
            <template v-slot:header>
                <v-toolbar dark color="blue darken-3" class="mb-1">
                    <v-text-field v-model="search" clearable flat solo-inverted hide-details prepend-inner-icon="fas fa-search" label="Search"></v-text-field>
                    <template v-if="$vuetify.breakpoint.mdAndUp">
                        <v-spacer></v-spacer>
                        <v-select v-model="sortBy" flat solo-inverted hide-details :items="keys" prepend-inner-icon="fas fa-chevron-left" label="Disponível em Loja"></v-select>
                        <v-spacer></v-spacer>
                        <v-btn-toggle v-model="sortDesc" mandatory>
                            <v-btn large depressed color="blue" :value="false">
                                <v-icon>fas fa-chevron-up</v-icon>
                            </v-btn>
                            <v-btn large depressed color="blue" :value="true">
                                <v-icon>fas fa-chevron-down</v-icon>
                            </v-btn>
                        </v-btn-toggle>
                    </template>
                </v-toolbar>
            </template>

            <template v-slot:default="props">
                <v-row>
                    <v-col v-for="card in props.items" :key="card" cols="12" sm="6" md="4" lg="3">
                        <card-product :id="card.id" :title="card.name" :image="card.src" :old_price="card.oldPrice" :price="card.price" />
                    </v-col>
                </v-row>
                -->

    <!--<v-row>
                    <v-col v-for="item in props.items" :key="item.name" cols="12" sm="6" md="4" lg="3">
                        <v-card>
                            <v-card-title class="subheading font-weight-bold">
                                {{ item.name }}
                            </v-card-title>

                            <v-divider></v-divider>

                            <v-list dense>
                                <v-list-item v-for="(key, index) in filteredKeys" :key="index">
                                    <v-list-item-content :class="{ 'blue--text': sortBy === key }">
                                        {{ key }}:
                                    </v-list-item-content>
                                    <v-list-item-content class="align-end" :class="{ 'blue--text': sortBy === key }">
                                        {{ item[key.toLowerCase()] }}
                                    </v-list-item-content>
                                </v-list-item>
                            </v-list>
                        </v-card>
                    </v-col>
                </v-row>-->
    <!-- </template>

            <template v-slot:footer>
                <v-row class="mt-2" align="center" justify="center">
                    <span class="grey--text">Items per page</span>
                    <v-menu offset-y>
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn dark text color="primary" class="ml-2" v-bind="attrs" v-on="on">
                                {{ itemsPerPage }}
                                <v-icon>fas fa-chevron-down</v-icon>
                            </v-btn>
                        </template>
                        <v-list>
                            <v-list-item v-for="(number, index) in itemsPerPageArray" :key="index" @click="updateItemsPerPage(number)">
                                <v-list-item-title>{{ number }}</v-list-item-title>
                            </v-list-item>
                        </v-list>
                    </v-menu>

                    <v-spacer></v-spacer>

                    <span class="mr-4
            grey--text">
                        Page {{ page }} of {{ numberOfPages }}
                    </span>
                    <v-btn fab dark color="blue darken-3" class="mr-1" @click="formerPage">
                        <v-icon>fas fa-chevron-left</v-icon>
                    </v-btn>
                    <v-btn fab dark color="blue darken-3" class="ml-1" @click="nextPage">
                        <v-icon>fas fa-chevron-right</v-icon>
                    </v-btn>
                </v-row>
            </template>
        </v-data-iterator>
    </v-container>-->

    <login-form v-if="!loggedIn" v-on:auth_info="auth_info"></login-form>

    <!-- Search bar -->
    <v-toolbar v-if="loggedIn" dense floating style="width: 80vw; height: 10vh; margin: 0 auto" class="vertical-align">
        <v-text-field @keyup="updateList" v-model="productName" style="width: 40vw; padding-right: 2vw" prepend-icon="fas fa-search" :items="
          currentCatalog.map(function (item) {
            return item.name;
          })
        " hide-details label="" :key="currentCatalog"></v-text-field>
        <v-select v-model="selectFilter" @change="changeCatalog" :items="keys" solo hide-details label="Disponível em Loja" style="width: 30vw; background: pink"></v-select>
    </v-toolbar>

    <l02 v-if="loggedIn" style="width: 100%" :products="productCatalog" :columns="3" :key="productCatalog"></l02>
  </div>
</template>

<style scoped>
.text-color {
  color: white;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.border {
  border: 2px dashed orange;
}

.page-layout {
  margin: 0 auto;
  color: black;
  background: black;
  width: 100vw;
  height: 100vh;
  text-align: left;
}

.admin-sidebar {
  height: 100vh;
  /*background-image: url('https://www.textures.com/system/gallery/photos/PBR%20Materials/ps133182/133182_header3.jpg');
    background-size: cover;*/
  background: #6a6a6a;
}

.admin-sidebar::after {
  content: "";
  display: block;
  position: fixed;
  padding: 100px 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(black);
}

.admin-content-view {
  height: 100vh;
  background: white;
}

.category-row {
  width: 100%;
  height: auto;
  margin-top: 2vh;
  text-align: center;
}

.category-item-title {
  height: 8vh;
  margin: 0 auto;
  background: red;
  font-weight: bold;
}

.category-item {
  background: darkgray;
  height: 6vh;
  width: 100%;
  margin-top: 0.5vh;
}
</style>

<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<script>
Vue.component("login-form", httpVueLoader("../components/login-form.vue"));
Vue.component("l02", httpVueLoader("./l02.vue"));
Vue.component("card-product", httpVueLoader("../components/card-product.vue"));

module.exports = {
  name: "administratorlayout",
  props: {
    offlineproducts: {
      type: Array,
      required: true,
    },
    onlineproducts: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
        loggedIn : false,
      a: 1,
      productName: "",
      itemsPerPageArray: [4, 8, 12],
      search: "",
      filter: {},
      sortDesc: false,
      page: 1,
      itemsPerPage: 4,
      selectFilter: "Disponivel em Loja",
      currentCatalog: [],
      productCatalog: [],
      keys: ["Disponivel em Loja", "Disponivel Online"],
      items: [
        {
          name: "Frozen Yogurt",
          calories: 159,
          fat: 6.0,
          carbs: 24,
          protein: 4.0,
          sodium: 87,
          calcium: "14%",
          iron: "1%",
        },
        {
          name: "Ice cream sandwich",
          calories: 237,
          fat: 9.0,
          carbs: 37,
          protein: 4.3,
          sodium: 129,
          calcium: "8%",
          iron: "1%",
        },
        {
          name: "Eclair",
          calories: 262,
          fat: 16.0,
          carbs: 23,
          protein: 6.0,
          sodium: 337,
          calcium: "6%",
          iron: "7%",
        },
        {
          name: "Cupcake",
          calories: 305,
          fat: 3.7,
          carbs: 67,
          protein: 4.3,
          sodium: 413,
          calcium: "3%",
          iron: "8%",
        },
        {
          name: "Gingerbread",
          calories: 356,
          fat: 16.0,
          carbs: 49,
          protein: 3.9,
          sodium: 327,
          calcium: "7%",
          iron: "16%",
        },
        {
          name: "Jelly bean",
          calories: 375,
          fat: 0.0,
          carbs: 94,
          protein: 0.0,
          sodium: 50,
          calcium: "0%",
          iron: "0%",
        },
        {
          name: "Lollipop",
          calories: 392,
          fat: 0.2,
          carbs: 98,
          protein: 0,
          sodium: 38,
          calcium: "0%",
          iron: "2%",
        },
        {
          name: "Honeycomb",
          calories: 408,
          fat: 3.2,
          carbs: 87,
          protein: 6.5,
          sodium: 562,
          calcium: "0%",
          iron: "45%",
        },
        {
          name: "Donut",
          calories: 452,
          fat: 25.0,
          carbs: 51,
          protein: 4.9,
          sodium: 326,
          calcium: "2%",
          iron: "22%",
        },
        {
          name: "KitKat",
          calories: 518,
          fat: 26.0,
          carbs: 65,
          protein: 7,
          sodium: 54,
          calcium: "12%",
          iron: "6%",
        },
      ],
    };
  },
  computed: {
    numberOfPages() {
      return Math.ceil(this.items.length / this.itemsPerPage);
    },
    filteredKeys() {
      return this.keys.filter((key) => key !== "Name");
    },
  },
  methods: {
    nextPage() {
      if (this.page + 1 <= this.numberOfPages) this.page += 1;
    },
    formerPage() {
      if (this.page - 1 >= 1) this.page -= 1;
    },
    updateItemsPerPage(number) {
      this.itemsPerPage = number;
    },
    changeCatalog: function (value) {
      console.log("Changin catalog to: " + value);
      this.productName = "";
      switch (value) {
        case "Disponivel em Loja":
          this.productCatalog = this.offlineproducts;
          this.currentCatalog = this.offlineproducts;
          break;
        case "Disponivel Online":
          this.productCatalog = this.onlineproducts;
          this.currentCatalog = this.onlineproducts;
          break;
      }
    },

    // Redirect package to main script
    auth_info: function (package) {
      this.$emit("auth_info", package);
      this.loggedIn = true;
    },
    updateList: function () {
      //if (!value) return;
      //console.log("Updating catalog to: " + value);

      var value = this.productName.toLowerCase();

      var newID = 0;
      this.productCatalog = this.currentCatalog.map(function (item) {
        /*if (item.name.toLowerCase().includes(value)) {
                    console.log("Item: " + JSON.stringify(item));
                    item.id = newID;
                    newID += 1;
                    return item;
                }*/
        //arr.every(item => str.includes(item))

        if (
          value.split(" ").every((str) => item.name.toLowerCase().includes(str))
        ) {
          console.log("Item: " + JSON.stringify(item));
          item.id = newID;
          newID += 1;
          return item;
        }
      });

      Array.prototype.clean = function (deleteValue) {
        for (var i = 0; i < this.length; i++) {
          if (this[i] == deleteValue) {
            this.splice(i, 1);
            i--;
          }
        }
        return this;
      };
      this.productCatalog.clean(undefined);

      console.log("NEW ARRAY: " + JSON.stringify(this.productCatalog));
    },
    /*
                startFilterTimer: function () {
                    this.interval = setInterval(
                        () => this.updateList(this.productName),
                        1000
                    );
                },

                stopFilterTimer: function () {
                    clearInterval(this.interval);
                },*/
  },

  mounted() {
    console.log("[cordovue] Administrator's page loaded!");
    this.productCatalog = this.offlineproducts;
    this.currentCatalog = this.offlineproducts;
  },
};
</script>
