<template>
  <div style="width: 100%;position: absolute; top:30vh;">
    <v-form
      ref="form"
      v-model="valid"
      lazy-validation
      style="margin:0 auto; width: 30vw;"
    >
      <h3>Formulário de Login</h3>

      <v-text-field
        v-model="name"
        :counter="20"
        :rules="nameRules"
        label="Name"
        required
      ></v-text-field>

      <v-text-field
        v-model="password"
        :rules="passwordRules"
        label="Palavra-Chave"
        required
      ></v-text-field>

      <v-select
        v-model="select"
        :key="items"
        :items="items"
        :rules="[(v) => !!v || 'Operador necessário!']"
        label="Operador da cadeia de valor"
        required
      ></v-select>

      <div style="margin: 0 auto">
        <v-btn
          :disabled="!valid"
          color="success"
          class="mr-4"
          @click="validate"
        >
          Validar
        </v-btn>

        <v-btn color="error" class="mr-4" @click="reset"> Sair </v-btn>

        <v-btn color="warning" @click="resetValidation">
          Limpar formulário
        </v-btn>
      </div>
    </v-form>
  </div>
</template>

<script>
module.exports = {
  data: () => ({
    valid: true,
    name: "",
    nameRules: [
      (v) => !!v || "Nome necessário",
      (v) => (v && v.length <= 20) || "Name must be less than 10 characters",
    ],
    password: "",
    passwordRules: [(v) => !!v || "Palavra-Chave necessária"],
    select: null,
    items: [],
    checkbox: false,
    operators: [],
  }),

  methods: {
    validate() {
      this.$refs.form.validate();

      let operator;
      for (var i = 0; i < this.operators.length; i++)
        if (this.operators[i].operator_name == this.select)
          operator = this.operators[i];

      console.log("Selected operator: " + JSON.stringify(operator));

      this.$emit("auth_info", {
        name: this.name,
        operator,
      });
    },
    reset() {
      this.$refs.form.reset();
    },
    resetValidation() {
      this.name = "";
      this.password = "";
    },

    async fetchOps() {
      var token = "f9057c7f-e510-3211-8773-2c0e91f82ee9";
      var link = "https://valormar-api.web.ua.pt/governance/v0.1/Operator";
      var newItems = [];
      axios.defaults.headers.common = { Authorization: `Bearer ${token}` };
      this.operators = await axios.get(link).then(function (response) {
        return response.data;
      });
      this.operators.forEach((element) => {
        this.items.push(element.operator_name);
      });
    },
  },

  mounted() {
    this.fetchOps();
  },
};
</script>
