<template>
  <div :elevation=10 class="topbar rounded-b-xl">
    <div style="left:1vw; position:absolute">
      <v-btn
      style="width: 6vh; height: 6vh"
        v-if="buttonback"
        fab
        small
        dark
        color="primary"
        @click="go_back"
      >
        <v-icon dark style="font-size: 4vh">fas fa-chevron-left</v-icon>
      </v-btn>
    </div>
    <div style="font-size: 4vh">
      {{ title }}
    </div>
    <div style="right:1vw; position:absolute" class="float-right">
      <v-btn
        style="width: 6vh; height: 6vh"
        fab
        dark
        color="primary"
        @click="open_admin_panel"
      >
        <v-icon dark style="font-size: 2vh">fas fa-lock</v-icon>
      </v-btn>
    </div>
  </div>
</template>

<style scoped>
.topbar {
    color:white;
    position:relative;
  background: rgba(135, 206, 235, 1);
  width: 81vw;
  height: 7vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;

  top: 0;
  position: sticky;
  z-index: 1;
}

.main-container {
  width: "100vw";
  background: yellow;
}

.top-left-border {
  width: 3vw;
  margin: 0 auto;
  height: 1vh;
  position: absolute;
  top: 5vh;
  left: 0;
  border-top-left-radius: 3vh;
  border-top: 3vh solid #f7f8f9;
  /*background: #f7f8f9;*/
}

.top-right-border {
  width: 3vw;
  margin: 0 auto;
  height: 1vh;
  position: absolute;
  top: 5vh;
  right: 0;
  border-top-right-radius: 3vh;
  border-top: 3vh solid #f7f8f9;
  /*background: #f7f8f9;*/
}

.toolbar {
  width: 80vw;
  /*height: 8vh;*/
  height: 5vh;
  margin: 0 auto;
  top: 0;
  position: sticky;
  background: rgba(135, 206, 235, 1);
  color: white;
  z-index: 2;
}

.toolbarBorder {
  width: 100vw;
  margin: 0 auto;
  height: 1vh;
  position: absolute;
  top: 5vh;
  border-top-right-radius: 3vh;
  border-top-left-radius: 3vh;
  border-top: 3vh solid #f7f8f9;
  /*background: #f7f8f9;*/
  z-index: -2;
}

.app-title {
  font-size: 3vh;
  /*transform: translate(0, -25%);*/
}

.goBackBtn {
  color: blue;
  position: absolute;
  top: 1vh;
  left: 1vw;
  z-index: 1;
}
</style>

<script>
module.exports = {
  name: "ToolBar",
  props: {
    title: {
      type: String,
      required: true,
    },
    buttonback: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      selection: [],
      items: ["Foo", "Bar", "Fizz", "Buzz"],
      ripple: 0,
    };
  },
  methods: {
    refreshUIBtn: function () {
      this.ripple++;
    },

    go_back: function () {
      console.log("going back");
      this.$emit("go_back");
    },
    open_admin_panel: function () {
      this.$emit("open_admin_panel");
    },
  },
  mounted() {
    console.log("button is: " + this.buttonback);
  },
};
</script>
