<template>
<!--<div style="background:rgba(245, 222, 179, 0.1)">-->
<div>
    <div style="height:7vh; width:100vw; position:absolute; top:0; background:rgba(135,206,235, 1);"></div>

    <!-- PRODUCT IDENTIFIER DIV -->
    <div style="height:50vh;width:100vw;background:rgba(135,206,235, 1);">
        <v-img class="card-product-image" style="" :src="product.image"></v-img>
        <div style="width: 60vw; margin:0 auto;">
            <p style="font-size: 4vw;margin: 0 auto; color:white">{{ product.title }}</p>
        </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="rgba(135,206,235, 1)" fill-opacity="1" d="M0,96L60,101.3C120,107,240,117,360,106.7C480,96,600,64,720,69.3C840,75,960,117,1080,128C1200,139,1320,117,1380,106.7L1440,96L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
    </svg>

        <!--  -->
    <v-row style="height:20vh; width:100vw; margin:0 auto; margin-top:-20vh" class="rows">
        <v-btn id="tbnutritionBtn" class="intelBtn" href="#nutriTableID" @click="intelBtnClick('tbnutritionBtn')">TABELA NUTRICIONAL</v-btn>
        <v-btn id="historyBtn" class="intelBtn" href="#historyDiv" @click="intelBtnClick('historyBtn')">HISTÓRIA</v-btn>
        <v-btn id="mapBtn" class="intelBtn" href="#map" @click="intelBtnClick('mapBtn')">MAPA</v-btn>
    </v-row>

    <div class="rows" style="margin:0 auto; height: 7vh; background:rgba(135,206,235, 1); width: 90vw;">
        <v-col :cols="8">
            <span style="font-size: 3.5vh; color:white">TABELA NUTRICIONAL</span>
        </v-col>
    </div>

    <div style="width:auto; height:auto;" id="nutriTableID">
        <div>
            <p style="font-size: 3vw; text-align:left; margin-top: 1vh; margin-right: 5vw; margin-left: 5vw;">
            MACRONUTRIENTES
        </p>
        <p style="font-size: 1.5vw; text-align:left; margin-right: 5vw;
    margin-left: 5vw;margin-top:-3vh;">
                            (por 100 gramas)</p>
        </div>
       

        <v-row class="productInfoDataTables" >
            <data-field v-for="(item,index) in macroNutrients" v-bind:key="item" :index="'macro'+index" :name="item.name" :amount="item.amount" :unit="item.unit" :icon="item.icon"></data-field>
        </v-row>
    </div>
    <div style="width:auto; margin-top:10vh; height:auto;">
        <div style="display:block">
            <p style="font-size: 3vw; text-align:left; 
    margin-right: 5vw;
    margin-left: 5vw;">
                MICRONUTRIENTES 
        </p>
        <p style="font-size: 1.5vw; text-align:left; margin-right: 5vw;
    margin-left: 5vw;margin-top:-3vh;">
                            (por 100 gramas)</p>
        </div>
        <v-row class="productInfoDataTables">
            <data-field v-for="(item,index) in vitaminsArray" v-bind:key="item" :index="'micro'+index" :name="item.name" :amount="item.amount" :unit="item.unit" :icon="item.icon"></data-field>
        </v-row>
    </div>

    <!-- HISTÓRIA DIV -->
    <div style="
        margin-top: 5vh;
        margin-bottom: 5vh;
        padding-left: 5vw;
        padding-right: 5vw;
      " id="historyDiv">
        <div class="rows" style="height: 7vh; background:rgba(135,206,235, 1); width: 100%">
            <v-col :cols="2"></v-col>
            <v-col :cols="8">
                <span style="font-size: 3.5vh; color:white">HISTÓRIA</span>
            </v-col>
            <v-col :cols="2">
                <!--<div class="triangleBtn" @click="openRecipesContent"></div>-->
            </v-col>
        </div>
        <p style="font-size:2.5vh;margin-top:1vh; text-align:left;" id="history"></p>
    </div>

    <!-- MAP TRACEABILITY DIV -->
    <div style="
        margin-top: 5vh;
        margin-bottom: 5vh;
        padding-left: 5vw;
        padding-right: 5vw;
      " id="receitas">
        <div class="rows" style="height: 7vh; background:rgba(135,206,235, 1); width: 100%">
            <v-col :cols="2"></v-col>
            <v-col :cols="8">
                <span style="font-size: 3.5vh; color:white">MAPA DE RASTREABILIDADE</span>
            </v-col>
            <v-col :cols="2">

            </v-col>
        </div>

        <div class="rows" style="height: 7vh; background:rgba(135,206,235, 1); width: 100%">
            <v-btn style="margin-left:0.5vw;margin-right:0.5vw;width:10vw; height:5vh;" @click="clicklote1">Lote 147</v-btn>
            <v-btn style="margin-left:0.5vw;margin-right:0.5vw;width:10vw; height:5vh;" @click="clicklote2">Lote 148</v-btn>
        </div>


        <div id="map"></div>
        <div id="pcc" class="pcc"></div>

    </div>
</template>

<style scoped>
.pcc {
  width: 150px;
}

.productInfoDataTables {
  margin: 0 auto;
  max-width: 90vw;
  width: 80vw;
  /*background:maroon;*/
}

.triangleBtn {
  transform: rotate(45deg);
  height: 7vh;
  width: 7vh;
  background: white;
  margin: 0 auto;
  border: 1px solid lightgray;
}

.rows {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-product-image {
  border-radius: 1.2rem;
  margin: 0 auto;
  /*height: 100%;*/
  height: 40vh;
  width: 25%;
}

.card-product-discount {
  width: 100%;
  height: 100%;
  font-size: 1vw;
  border: 1px solid;
  padding-top: 0.8vw;
  background: ghostwhite;
}

.card-product-price-new {
  font-size: 4vw;
  color: white;
  font-style: bold;
}

.card-product-price-old {
  font-size: 4vw;
  text-decoration: line-through;
  color: lightgray;
}

#map {
  margin: 0 auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
  height: 70vh;
  width: 90vw;

  z-index: 0;
  overflow: hidden;
}

.someExtraClass {
  background-color: aqua;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 0 20px 20px 20px;
  box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 50vw !important;
  height: 50vh !important;
  margin: 0 !important;
}

.aminhaclass {
  background: green;
  border: 2px solid cyan;
}

.leaflet-tooltip-left.aminhaclass::before {
  border-left-color: cyan;
}

.leaflet-tooltip-right.aminhaclass::before {
  border-right-color: cyan;
}

.arrows {
  border-left: 2vw solid transparent;
  border-right: 2vw solid transparent;
  border-bottom: 4vw solid rgb(0, 159, 225);
}
</style>

<script>
Vue.component("data-field", httpVueLoader("../components/datafield.vue"));
Vue.component("recipe", httpVueLoader("../components/recipe.vue"));

Vue.component('l-map', window.Vue2Leaflet.LMap);
Vue.component('l-control-layers', window.Vue2Leaflet.LControlLayers);
Vue.component('l-tile-layer', window.Vue2Leaflet.LTileLayer);
Vue.component('l-marker', window.Vue2Leaflet.LMarker);
Vue.component('l-popup', window.Vue2Leaflet.LPopup);
Vue.component('l-tooltip', window.Vue2Leaflet.LTooltip);
Vue.component('l-icon', window.Vue2Leaflet.LIcon);

module.exports = {
    name: "Layout 03",
    props: ["product"],
    data() {
        return {
            testedGraph : [],
            zoom: 5,
            center: [41.686060, -8.837033],
            url: 'http://mt0.google.com/vt/lyrs=y&hl=en&x={x}&y={y}&z={z}',
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',

            mapVariable : null,
            mapMarkers : [],
            markers: [],
            markers2 : [
                {
                event: "Pesca por boia",
                label: "Pesca por boia",
                location: [39.37797,-9.43678]
                },
                {
                label: "Receção - Docapesca Peniche",
                event: "Receção",
                location: [39.35599,-9.37237]
                },
                {
                label: "Transformação - Battaglia",
                event: "Transformação",
                location: [37.10419,-8.67317]
                },
                {
                label: "Congelação - Battaglia",
                event: "Congelação",
                location: [37.14218,-8.66415]
                },
                {
                label: "Embalamento - CDP Santarem",
                event: "Embalamento",
                location: [39.25696,-8.70638]
                },
                {
                label: "Exposição em loja - Continente Viana",
                event: "Exposição em loja",
                location: [41.70442,-8.81482]
                }
            ],
            markers1: [
                {
                    event: 'Captura Selvagem',
                    label: "Captura Selvagem",
                    location: [36.336652,-10.232504],
                },
                {
                    event: 'Recepção',
                    label: "Recepção - DocaPesca",
                    location: [37.00974, -8.93190],
                },
                {
                    event: 'Transformação',
                    label: "Transformação - CDP",
                    location: [39.28441, -8.71337],
                }, // DOCAPESCA VIANA,
                                {
                    event: 'Exposição Loja',
                    label: "Recepção - Continente",
                    location: [41.18110, -8.65501],
                }/*, // DOCAPESCA VIANA,
                {
                    event: 'registry',
                    label: "Registo de produto",
                    location: [41.183489, -8.697356]
                }, // DOCAPESCA MATOSINHOS
                {
                    event: 'transformation',
                    label: "Transformação",
                    location: [40.635021, -8.730609]
                }, // DOCAPESCA AVEIRO
                {
                    event: 'storage',
                    label: "Armazenamento",
                    location: [37.018861, -7.883821]
                }, // AQUACULTUA - OLHAO
                {
                    event: 'transport',
                    label: "Transporte",
                    location: [41.251127, -8.701319]
                }, // ramirez - conserva
                {
                    event: 'quality',
                    label: "Qualidade",
                    location: [38.702908, -8.994669]
                }, // riveralves - bacalhau
                {
                    event: 'storage',
                    label: "Armazenamento",
                    location: [39.359110, -9.372925]
                }, // ramirez - conserva
                {
                    event: 'quality',
                    label: "Controlo de qualidade",
                    location: [39.142158, -9.233948]
                }, // ramirez - conserva
                {
                    event: 'transport',
                    label: "Transporte",
                    location: [39.265894, -8.686857], // ramirez - conserva
                }*/

            ],

            vitaminsRow: 0,
            length: 3,
            window: 0,
            openMicro: false,
            openMacro: true,
            openRecipe: true,
            openMap: false,
            componentKey: 0,
            productOfInterest: 100,
            old_price: 2,
            tableContent: false,

            //colors: ["primary", "secondary", "yellow darken-2", "red", "orange"],
            model: 0,
            items: [{
                    src: "https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg",
                },
                {
                    src: "https://cdn.vuetifyjs.com/images/carousel/sky.jpg",
                },
                {
                    src: "https://cdn.vuetifyjs.com/images/carousel/bird.jpg",
                },
                {
                    src: "https://cdn.vuetifyjs.com/images/carousel/planet.jpg",
                },
            ],

            macroNutrients: [{
                    name: "Gordura",
                    field: "gordura",
                    unit: "g",
                    amount: "36",
                    icon: "fas fa-shield-alt",
                },
                {
                    name: "Gordura Saturada",
                    field: "gord saturada",
 unit: "g",                    amount: "36",
                    icon: "fas fa-shield-alt",
                },
                {
                    name: "Carboidratos",
                    field: "carboidratos",
 unit: "g",                    amount: "36",
                    icon: "fas fa-shield-alt",
                },
                {
                    name: "Açucares",
                    field: "acucares",
 unit: "g",                    amount: "36",
                    icon: "fas fa-shield-alt",
                },
                {
                    name: "Proteina",
                    field: "proteinas",
 unit: "g",                    amount: "36",
                    icon: "fas fa-shield-alt",
                },
                {
                    name: "Calorias",
                    field: "kJ",
 unit: "kJ",                    amount: "36",
                    icon: "fas fa-shield-alt",
                }
            ],
            vitaminsArray: [{
                    name: "Vitamina A",
                    field: "vitA ug",
                    unit: "&#x338D",
                    amount: "36 g",
                    icon: "fas fa-shield-alt",
                },
                {
                    name: "Vitamina B6",
                    field: "vitB6 mg",
                    unit: "mg",
                    amount: "36 g",
                    icon: "fas fa-shield-alt",
                },
                {
                    name: "Vitamina B12",
                    field: "vitB12 ug",
                    unit: "&#x338D",
                    amount: "36 g",
                    icon: "fas fa-shield-alt",
                },
                {
                    name: "Vitamina C",
                    field: "vitC mg",
                    unit: "&#x338E",
                    amount: "36 g",
                    icon: "fas fa-shield-alt",
                },
                {
                    name: "Vitamina D",
                    field: "vitD ug",
                    unit: "&#x338D",
                    amount: "36 g",
                    icon: "fas fa-shield-alt",
                },
                {
                    name: "Vitamina E",
                    field: "vitE mg",
                    unit: "&#x338E",
                    amount: "36 g",
                    icon: "fas fa-shield-alt",
                },
                {
                    name: "Ferro",
                    field: "ferro mg",
                    unit: "&#x338E",
                    amount: "36 g",
                    icon: "fas fa-shield-alt",
                },
                {
                    name: "Omega 3",
                    field: "omega3",
                    unit: " ",
                    amount: "36 g",
                    icon: "fas fa-shield-alt",
                },
                {
                    name: "Omega 6",
                    field: "omega6",
                    unit: " ",
                    amount: "36 g",
                    icon: "fas fa-shield-alt",
                },
                {
                    name: "Fosforo",
                    field: "fosforo mg",
                    unit: "&#x338E",
                    amount: "36 g",
                    icon: "fas fa-shield-alt",
                },
                {
                    name: "Potassio",
                    field: "potassio mg",
                    unit: "&#x338E",
                    amount: "36 g",
                    icon: "fas fa-shield-alt",
                },
                {
                    name: "Sodio",
                    field: "sodio mg",
                    unit: "&#x338E",
                    amount: "36 g",
                    icon: "fas fa-shield-alt",
                },
                {
                    name: "Zinco",
                    field: "zinco mg",
                    unit: "&#x338E",
                    amount: "36 g",
                    icon: "fas fa-shield-alt",
                },
            ],
            intelBtns: [],
            updateIndexNumber: 0,
            forceRender: function () {
                /*this.componentKey += 1;
                                        this.updateIndex += 1;
                                        console.log("[" + parseInt(this.updateIndexNumber) + "] " + "Forcing update...");*/
                arguments;
                this.$forceUpdate();
                console.log("aonaonafnio");

                //this.componentKey += 1;
                //console.log("Forcing update during content creation...: " + name);
                //return "ola";
                // return '';
            },
        };
    },
    methods: {

        openMicroContent() {
            //this.openMicro = !this.openMicro;
            document.getElementById("microbtn").style.background = "blue";
            document.getElementById("macrobtn").style.background = "white";
            //location.href = "#receitas";

            //window.scroll(0, window.innerHeight);

            this.openMicro = true;
            this.openMacro = false;
        },
        openMacroContent() {
            //this.openMacro = !this.openMacro;
            document.getElementById("microbtn").style.background = "white";
            document.getElementById("macrobtn").style.background = "blue";
            this.openMacro = true;
            this.openMicro = false;
        },
        openMapContent() {
            this.openMap = !this.openMap;
        },
        openRecipesContent() {
            this.openRecipe = !this.openRecipe;
        },


        resetButtons() {
            console.log("reseted btns...");
            this.intelBtns.forEach(element => {
            element.style.background = "white";
            element.style.height = "10vh";
            element.style.width = "20vw";
            element.style.fontSize = "1.5vw";
            element.style.color = "maroon";
        });
        },

        beautifyBtn() {

        },

        addIntelBtn(element) {
            this.intelBtns.push(element);
        },

        intelBtnClick(id) {
            console.log("Clicked Intel BTN... Changing div contents...");
            console.log("Btn identifier: " + id);

            // Reset buttons for white background
            this.resetButtons();

            document.getElementById(id).style.background = "#FFC3B1";
            document.getElementById(id).style.color = "maroon";
        },

        /*
         * This method is used only for test purposes
         * The goal is to extract products/ info about products from the event of an operator
         * the operator is hardcoded 
         */
        async getEvents(){
            console.log("Downloading events...");

            //var lote = 109;
            //var lote = 175; Estoura
            var lote = 176; 
            //var currentOp = 104;
            var currentOp = 113;
            var tracking = [];
            
            // Hardcoded variables
            //var eventLink   = "https://valormar-api.web.ua.pt/tracking/v0.1/api/Event/";
            var eventLink   = "https://valormar-api.web.ua.pt/tracking/v0.1/api/Event/trackByLotId?LotId=";
            var typeLink    = "https://valormar-api.web.ua.pt/governance/v0.1/EventType/";
            var token       = "371b301d-1529-387c-8e77-c5fc7a945b66";
           
            // All Events from API/Database (With coordinates)
            //var events  = await this.apiEvents(eventLink, token);
            //var events  = await this.apiEvents(eventLink+lote, token);

            this.promiseUpdateMarkers();

            // Generate graph from collected events
           /* this.promiseGenerateGraph(tracking, events, lote, currentOp).then((result) => {
                console.log("Acho que funcionou...." + JSON.stringify(this.testedGraph));

                // Replace type IDs to string
                this.promiseEventType(this.testedGraph, typeLink, token).then((result) => {
                    console.log("Acho que funcionou...." + JSON.stringify(this.testedGraph));

                   // Replace type IDs to string
                   this.promiseUpdateMarkers();
                   // this.promiseOperatorLocation().then((result) => {
                   //     console.log("Acho que funcionou...." + JSON.stringify(this.testedGraph));
                   //     this.promiseUpdateMarkers();
                   // });
    
                });

            });*/


            
        },

        async promiseUpdateMarkers(){
            /*console.log("THIS MARCADORES: " + this.markers);
            this.markers = [];

            this.testedGraph.forEach(element => {
                console.log("ELEMENTE COORDINATES: " + element.coordinates );
                var location = element.coordinates.split(";");
                location[0] = parseFloat(location[0]);
                location[1] = parseFloat(location[1]);

                this.markers.push({
                    event : element.type,
                    label : element.type,
                    location : location
                });
            });

            console.log("THIS MARCADORES: " + this.markers);
            //this.markers[0].location = [41.686060, -8.837033];
            //this.markers[1].location = [41.183489, -8.697356];
            //this.markers[2].location = [39.359110, -9.372925];
*/
            this.markers[0] = {
                    event: 'registry',
                    label: "Registo de produto",
                    location: [41.686060, -8.837032],
                };
            this.markers.forEach(element => {
                console.log("Elemento grafo is : " + JSON.stringify(element));
            });

           this.updateMapView();

        },

        async promiseGenerateGraph(tracking, events, lote, currentOp){
            return await this.recur(tracking, events, lote, currentOp);
        },

        async promiseEventType(tracking, link, token){
            return await this.getEventTypes(tracking, link, token);
        },

        async promiseOperatorLocation(){
            return await this.getOperatorLocation();
        },

        async getEventTypes(tracking, link, token){
            axios.defaults.headers.common = {'Authorization': `Bearer ${token}`}

            for(var i = 0; i<this.testedGraph.length; i++){
                this.testedGraph[i].type = await axios.get(link+this.testedGraph[i].type).then(function (response) {
                    return response.data.event_type_name;
                });

                /*this.testedGraph[i].coordinates = await axios.get("https://valormar-api.web.ua.pt/governance/v0.1/Operator/"+this.testedGraph[i].operatorDest).then(function (response) {
                    console.log("ESIETAIOUAEGOUIAEGUBAGEB+UOAGEB+UOAGE+UO" + JSON.stringify(response.data));
                    return response.data.operator_info.operator_info_value;
                });*/
            }
        },

        async getOperatorLocation(){
            for(var i = 0; i<this.testedGraph.length; i++){
                this.testedGraph[i].coordinates = await axios.get("https://valormar-api.web.ua.pt/governance/v0.1/Operator/"+this.testedGraph[i].operatorOrig).then(function (response) {
                    console.log("ESIETAIOUAEGOUIAEGUBAGEB+UOAGEB+UOAGE+UO" + JSON.stringify(response.data));
                    return response.data.operator_info[0].operator_info_value;
                });
            }
            
        },

        recur(tracking, filtered, lote, currentOp){       
             for(var i = 0 ; i<filtered.length; i++){
                var element = filtered[i];
                if(element.output_lots.length>0)
                if(/*element.event_operator_destination == currentOp && */element.output_lots[0].lot.LotId == lote){ 
                        
                        console.log("Adding to track list: " + JSON.stringify(element));
                        var beforeOp = element.event_operator_origin;

                        // Captura
                        // if(element.input_lots.length<=0) {
                            tracking.push({
                                operatorOrig : element.event_operator_origin,
                                operatorDest : element.event_operator_destination,
                                type : element.event_type,
                                coordinates: element.coordinates
                            });

                            var counter = 0;
                            console.log("Graph created: ");
                            tracking.reverse().forEach(element => {
                                counter++;
                                console.log("["+counter+"] " + element.operatorOrig + " -> " + element.operatorDest);
                            });

                            //return tracking;  
                            this.testedGraph = tracking;  
                            //return tracking;
                        //}

                        var beforeLots = element.input_lots[0].lot.LotId;
                        
                        /*tracking.push({
                            operatorOrig : element.event_operator_origin,
                                operatorDest : element.event_operator_destination,
                                type : element.event_type,
                                coordinates:element.coordinates
                        });*/

                        this.recur(tracking, filtered, beforeLots, beforeOp);
                    
                }
            }
/*
            filtered.forEach(element => {
                //console.log("AQUIIIIIIIIIIII");
                    if(element.event_operator_destination == currentOp && element.output_lots[0].lot.LotId == lote){
                        //console.log("Adding to track list");
                        var beforeOp = element.event_operator_origin;

                        // Captura
                        if(element.input_lots.length<=0) {
                            tracking.push({
                                operatorOrig : element.event_operator_origin,
                                operatorDest : element.event_operator_destination,
                                type : element.event_type,
                                coordinates:element.coordinates
                            });

                            var counter = 0;
                            console.log("Graph created: ");
                            tracking.reverse().forEach(element => {
                                counter++;
                                console.log("["+counter+"] " + element.operatorOrig + " -> " + element.operatorDest);
                            });

                            var typeE = await this.getEventType(element.event_type);
                            console.log("TypeE: " + typeE);

                            //return tracking;  
                            this.testedGraph = tracking;  
                            return;
                        }

                        var beforeLots = element.input_lots[0].lot.LotId;

                         
                        tracking.push({
                            operatorOrig : element.event_operator_origin,
                                operatorDest : element.event_operator_destination,
                                type : element.event_type,
                                coordinates:element.coordinates
                        });

                        this.recur(tracking, filtered, beforeLots, beforeOp);
                    } //else console.log("Current OP : " + currentOp + "\n Event Op Dest: " + element.event_operator_destination + "\n\nCurrent Lot: " + lote + "\nEventLot out: " + element.output_lots[0].lot.LotId);
                });*/
        },

      
       async apiEvents(link, token){
            axios.defaults.headers.common = {'Authorization': `Bearer ${token}`}
            return await axios.get(link).then(function (response) {
                var filtered = response.data.filter(function(element){ 
                    //console.log("Event: ----------------------" + JSON.stringify(element));
                    if(element.coordinates != null && (element.coordinates.includes(";") || element.coordinates.includes(","))){
                        return element;
                    }
                });
                console.log("Response.data: " + response.data.length);
                console.log("Filtered: " + filtered.length);

                //return response.data;
                filtered.forEach(element => {
                    console.log("Event:------------------------------------" + JSON.stringify(element));
                });
                return filtered;
            });
        },

        async apiProducts(link, token){
            axios.defaults.headers.common = {'Authorization': `Bearer ${token}`}
            return await axios.get(link).then(function (response) {
                var filtered = response.data.filter(function(element){ 
                    console.log("Event: ----------------------" + JSON.stringify(element));
                    if(element.coordinates != null && (element.coordinates.includes(";") || element.coordinates.includes(","))){
                        return element;
                    }
                });
                console.log("Response.data: " + response.data.length);
                console.log("Filtered: " + filtered.length);


                return response.data;
            });
        },

        async teste() {
            console.log("OLA");
            //var data = await this.apiGetNutriTable("Dourada");
            //var data = await this.apiGetNutriTable(this.product.species);
            var data = await this.apiGetNutriTable("Cavala");
            var datas = await this.apiGetText();
            //document.getElementById("history").innerHTML = datas["preview"];
            document.getElementById("history").innerHTML = datas;


            this.vitaminsArray.forEach((element) => {
                element.amount = data[element.field];
            });
            this.macroNutrients.forEach((element) => {
                element.amount = data[element.field];
            });

            // Filter vitamins array. Remove nulls
            this.vitaminsArray = this.arrayCleaner(this.vitaminsArray);
            this.macroNutrients = this.arrayCleaner(this.macroNutrients);

            console.log("Finished populating array...");
        },

        async apiGetNutriTable(species) {
            var link =
                "https://valormar-api.web.ua.pt/wiki/v0.2/info/" +
                species +
                "/TabelaNutricional";

            return await axios.get(link).then(function (response) {
                console.log("-----------REQUEST.DATA------------");
                console.log("Response: " + JSON.stringify(response.data));
                console.log("-----------------------------------");

                return response.data;
            });
        },

        async apiGetText() {
            var link = "https://valormar-api.web.ua.pt/wiki/v0.2/info/" + this.product.species + "/content/html";
            //var link = "https://pt.wikipedia.org/wiki/" + this.product.species;
            return await axios.get(link).then(function (response) {
                console.log("-----------REQUEST.DATA 2------------");
                //console.log("Response: " + JSON.stringify(response.data));
                console.log("Response: " + JSON.stringify(response.data.content));
                console.log("-----------------------------------");

                return response.data.content;
            });
        },

        arrayCleaner(va) {
            var renew = false;
            var array = va;
            array.forEach(function (result, index) {
                console.log(
                    "Result: " + JSON.stringify(result) + "Amount: " + result.amount
                );

                if (result.amount <= 0.5) {
                    array.splice(index, 1);
                    renew = true;
                }
            });
            if (renew) this.arrayCleaner(array);
            return array;
        },

        onMarkerClickPopupChart(e) {
            var index = this.index;
            // this.marcador.bindTooltip("<div><h1>A minha div " + this.label + " </h1>peixe</div>").openTooltip();
            alert("hi. you clicked the marker at " + e.latlng);
            console.log("E: " + e);
            console.log("INDEX:  " + index)
        },

        updateMapView(){
            console.log("UPDATING MAP VIEW");
            
        (function () {
            var _old__setPos = L.Marker.prototype._setPos;
            L.Marker.include({
                _updateImg: function (i, a, s) {
                    a = L.point(s).divideBy(2)._subtract(L.point(a));
                    var transform = '';
                    transform += ' translate(' + -a.x + 'px, ' + -a.y + 'px)';
                    transform += ' rotate(' + this.options.iconAngle + 'deg)';
                    transform += ' translate(' + a.x + 'px, ' + a.y + 'px)';
                    i.style[L.DomUtil.TRANSFORM] += transform;
                },

                setIconAngle: function (iconAngle) {
                    this.options.iconAngle = iconAngle;
                    if (this._map) this.update();
                },

                _setPos: function (pos) {
                    if (this._icon) this._icon.style[L.DomUtil.TRANSFORM] = '';
                    if (this._shadow) this._shadow.style[L.DomUtil.TRANSFORM] = '';

                    _old__setPos.apply(this, [pos]);

                    if (this.options.iconAngle) {
                        var defaultIcon = new L.Icon.Default;
                        var a = this.options.icon.options.iconAnchor || defaultIcon.options.iconAnchor;
                        var s = this.options.icon.options.iconSize || defaultIcon.options.iconSize;
                        var i;
                        if (this._icon) {
                            i = this._icon;
                            this._updateImg(i, a, s);
                        }
                        if (this._shadow) {
                            if (this.options.icon.options.shadowAnchor) a = this.options.icon.options.shadowAnchor;
                            s = this.options.icon.options.shadowSize;
                            i = this._shadow;
                            this._updateImg(i, a, s);
                        }
                    }
                }
            });
        }());
/*mapVariable
        var map = L.map('map').setView(this.center, this.zoom);
        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18
        }).addTo(map);*/

        for (var i = 0; i < this.markers.length; i++) {

            var iconImagemarker = "src-vue/resources/lib/vue-leaflet/icons/registry.svg";
            switch (this.markers[i].event) {
                case 'storage':
                case 'Embalamento':
                    iconImagemarker = 'src-vue/resources/lib/vue-leaflet/icons/warehouse.svg';
                    break;
                case 'transformation':
                case 'Transformação':
                    iconImagemarker = 'src-vue/resources/lib/vue-leaflet/icons/settings.svg';
                    break;
                case 'transport':
                    iconImagemarker = 'src-vue/resources/lib/vue-leaflet/icons/transport.svg';
                    break;
                case 'quality':
                    iconImagemarker = 'src-vue/resources/lib/vue-leaflet/icons/quality.svg';
                    break;
                case 'registry':
                case 'rececaoDoca':
                case 'Recepção':
                case 'Receção':
                    iconImagemarker = 'src-vue/resources/lib/vue-leaflet/icons/registry.svg';
                    break;
                case 'Captura':
                case 'Captura Selvagem':
                case 'Pesca por boia':
                    iconImagemarker = 'src-vue/resources/lib/vue-leaflet/icons/fish.svg';
                    break;
            }

            

            /* Add original marker */
            var marcador = L.marker(L.latLng(this.markers[i].location[0], this.markers[i].location[1]), {
                icon: new L.icon({
                    iconUrl: iconImagemarker,
                    iconSize: [50, 50], // size of the icon
                    iconAnchor: [25, 25], // point of the icon which will correspond to marker's location
                    popupAnchor: [0, -51] // point from which the popup should open relative to the iconAnchor        
                }),
                iconAngle: 0,
                label: this.markers[i].label
            });
            //<img src="${iconImagemarker}" alt="Trulli" style="margin:0 auto; width:100%; height:10%">

        var photoImg = `<img src="${iconImagemarker}" height="100px" width="100px"/>`;
            var popup = L.popup()
                .setLatLng(this.markers[i].location)
                .setContent( `
                <img src="${iconImagemarker}" style="margin:0 auto;width:30%;display:block"/>
                <h1> ${this.markers[i].label} </h1>
                <br/>
                `);

            marcador.bindPopup(popup);
            marcador.addTo(this.mapVariable);
            this.mapMarkers.push(marcador);

            if (i + 1 < this.markers.length) {
                var antPolyline = new L.Polyline.AntPath([this.markers[i].location, this.markers[i + 1].location], {
                    color: (this.markers[i].event == 'registry' || this.markers[i].event =="RececaoDoca"|| this.markers[i].event =="Recepção"|| this.markers[i].event =="Receção") ? "blue" : this.markers[i].event == "Transformação" ? "green" : ( this.markers[i].event == "Captura"||  this.markers[i].event == "Captura Selvagem") ? "red" : "maroon" ,
                    pulseColor: "white",
                    delay: 750,
                    dashArray: [
                        31,
                        49
                    ],
                    hardwareAccelerated: true
                });
                antPolyline.addTo(this.mapVariable);
                 this.mapMarkers.push(antPolyline);
            }

        };
        },

        clicklote1(){
            console.log("LOTE 1")
            this.markers = this.markers1;
            if(this.mapMarkers.length>0)this.mapMarkers.forEach(element => {
                this.mapVariable.removeLayer(element)
            });

            this.updateMapView();
        },
        clicklote2(){
            console.log("LOTE 2")
            this.markers = this.markers2
            if(this.mapMarkers.length>0)this.mapMarkers.forEach(element => {
                this.mapVariable.removeLayer(element)
            });
            this.updateMapView();
        }
    },
    computed: {
        dynamicSize() {
            return [this.iconSize, this.iconSize * 1.15];
        },
        dynamicAnchor() {
            return [this.iconSize / 2, this.iconSize * 1.15];
        }
    },
    created() {
        console.log("[cordovue] ProductInfo created!!---------------------- ");
        console.log("PRODUCT: " + JSON.stringify(this.product));
        this.teste();

        //Get events
        //this.getEvents();
    },
    mounted() {
        console.log("[cordovue] ProductInfo mounted!---------------------- ");

        //document.getElementById("macrobtn").style.background = "blue";

        // Get all intel buttons
        Array.prototype.forEach.call(document.getElementsByClassName("intelBtn"), element => this.addIntelBtn(element));

        this.resetButtons();
        this.intelBtns.forEach(element => {
            element.style.background = "white";
            element.style.height = "10vh";
            element.style.width = "20vw";
            element.style.fontSize = "1.5vw";
            element.style.color = "maroon";
        });
        this.intelBtns[0].style.background = "#FFC3B1";
        this.intelBtns[0].style.color = "maroon";

        
        this.mapVariable = L.map('map').setView(this.center, this.zoom);
        //L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {

        L.tileLayer('https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}.png', {
            maxZoom: 18
        }).addTo(this.mapVariable);

        this.markers = this.markers1;
        this.updateMapView();
    },
    updated() {
        console.log("Product page updated!...:");
       // this.updateMapView();
    },
};
</script>
