<template>
  <div class="card-product" v-on:click="emit">
    <v-img class="card-product-image" v-bind:src="image"></v-img>

    <div
      :key="titleSize"
      style="width: 100%; height: 10vh; margin-top: 2vh; position: relative"
      class="verticalCenter resizableDiv"
    >
      <p v-bind:id="id" class="resizable" :key="title">
        {{ title }}
      </p>
    </div>

    <div
      style="
        height: 5vh;
        bottom: 7.5vh;
        position: absolute;
        width: 100%;
        margin: 0 auto;
      "
    >
      <p v-if="discount > 0" class="card-product-discount verticalCenter">
        {{ discount }}% Desconto
      </p>
    </div>

    <v-row
      v-if="old_price > 0 || price > 0"
      class="low-end-row"
      style="
        height: 5vh;
        width: 100%;
        margin: 0 auto;
        padding-top: 3vh;
        padding-bottom: 4vh;
      "
    >
      <v-col :cols="6" class="verticalCenter" style="height: 100%">
        <p class="card-product-price-old verticalCenter" v-if="old_price > 0">
          €{{ old_price }}
        </p>
      </v-col>
      <v-col :cols="6" class="verticalCenter" style="height: 100%">
        <p class="card-product-price-new verticalCenter" v-if="price > 0">
          €{{ price }}
        </p>
      </v-col>
    </v-row>
  </div>
</template>

<style scoped>
.resizable {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  border: solid 1px red;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;

  line-height: 5vh;

  /* fallback */
  max-height: 10vh;
  max-width: 20vw;

  /* fallback */
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.flexFont {
  height: 100%;
  width: 100%;
  background-color: #eeeeee;
  margin: 1%;
  margin: 0 auto;
}

.low-end-row {
  bottom: 0%;
  position: absolute;
}

.verticalCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-product-title {
  margin: 0 auto;
  width: 90%;
  height: 100%;
  text-align: center;
}

.card-product {
  position: relative;
  width: 90%;
  height: 60vh;
  margin: 1vw;
  background: white;
  border: 0px solid;
  border-radius: 0rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-row {
  height: 10%;
}

.card-product-image {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
  object-fit: cover;

  height: 60%;
}

.card-product-discount {
  width: 80%;
  height: 100%;
  font-size: 1.5vw;
  border: 0.3px solid #ececec;
  background: #f7f8f9;
  text-align: center;
  margin: 0 auto;
}

.card-product-price-new {
  font-size: 2vw;
  color: red;
  height: 100%;
}

.card-product-price-old {
  font-size: 2vw;
  text-decoration: line-through;
  color: lightgray;
  height: 100%;
}
</style>

<script>
module.exports = {
  name: "product-card",
  props: {
    id: {
      type: Number,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    image: {
      type: String,
      required: true,
    },
    species: {
      type: String,
      required: true,
    },
    old_price: {
      type: Number,
      required: true,
    },
    price: {
      type: Number,
      required: true,
    },
  },
  data: () => ({
    titleSize: 3,
    titleBroke: false,
    loading: false,
    selection: 1,
    name: "ola",
    discount: 0,
    baseStyles: {
      fontSize: "5vh",
      color: "red",
    },
    overrideStyles: {
      background: "blue",
      fontSize: "100%",
    },
  }),

  methods: {
    reserve() {
      this.loading = true;
      setTimeout(() => (this.loading = false), 2000);
    },

    emit: function () {
      console.log("Sending event... [ProductCard] -----> [ProductsList]");
      this.$emit("show_product_intel", {
        id: this.id,
        title: this.title,
        image: this.image,
        species: this.species,
        old_price: this.old_price,
        price: this.price,
      });
    },

    flexFont: function () {
      console.log(
        "UPDATING FONT SIZE...1: " +
          JSON.stringify(document.getElementsByClassName("flexFont"))
      );
      var divs = document.getElementsByClassName("flexFont");

      for (var i = 0; i < divs.length; i++) {
        var relFontsize = divs[i].offsetWidth * 0.01;

        console.log(
          "OFFSET; " + divs[i].offsetWidth + " " + divs[i].clientWidth
        );

        divs[i].style.fontSize = relFontsize + "vh";
      }

      var test = document.getElementById("Test");
      test.style.fontSize = "3vh";
      var height = test.clientHeight + 1 + "px";
      var width = test.clientWidth + 1 + "px";

      console.log("width: " + width);
    },

    reFitText: function () {
      if (this.id == 1) console.log("doing shit on this card: " + this.id);
      if (this.id == 1) console.log("Current size: " + this.titleSize);
      var text = document.getElementsByClassName("resizable");

      text[this.id].style.fontSize = this.titleSize + "vh";

      text[this.id].style.height = "auto";
      text[this.id].style.width = "auto";
      text[this.id].innerHTML = this.title;

      var width = Math.ceil(text[this.id].clientWidth);
      formattedTextWidth = width;
      if (this.id == 1)
        console.log("Current text space is: " + formattedTextWidth + "px");

      var div = document.getElementsByClassName("resizableDiv");
      width = Math.ceil(div[this.id].clientWidth);
      formattedDivWidth = width;
      if (this.id == 1)
        console.log("Current div space is: " + formattedDivWidth + "px");

      if (formattedTextWidth >= formattedDivWidth) {
        if (!this.titleBroke && this.title.split(" ").length > 3) {
          this.titleBroke = true;
          var words = this.title.split(" ");
          var middlePointer = parseInt(words.length / 2);
          var i;
          var partB = [];
          for (i = 0; i < words.length; i++) {
            if (i >= middlePointer - 1) partB.push(words[i]);
            console.log("------------>Filter");
          }
          var partA = words.join(" ").split(" ", middlePointer);

          this.title = partA.join(" ") + "<br>" + partB.join(" ");
          console.log("WORDS: " + words);
          console.log("PARTA: " + partA);
          console.log("PARTB: " + partB);
          console.log("-------->BREAKING LINE<---------");
        }
        console.log("Stabilizing font size...:" + text[this.id].style.fontSize);
        this.titleSize -= 0.1;
        text[this.id].style.fontSize = this.titleSize + "vh";
      } else {
        if (this.id == 1) console.log("Size stabilized");
      }
    },
  },
  mounted() {
    console.log("[cordovue] PRODUCT Card started! " + this.image);

    //console.log("parseFloat(this.old_price): " + this.old_price);

    var diff = this.old_price - this.price;
    this.discount = parseInt((diff * 100) / this.old_price);
    //console.log("DISCOUNT: " + this.discount);

    this.reFitText();
  },

  updated() {
    if (this.id == 1) console.log("IVE BEEN UPDATED.");
    this.reFitText();
  },
};
</script>
