<template>
<v-col cols="12" sm="4">
    <div v-on:click="emit">
        <v-img v-bind:src="image" height="75vh" width="100%" class="card-image" v-ripple="{ class: 'text-color' }">
            <v-overlay :absolute="true" :value="true" :opacity="0.1">
                <p class="card-category-title"><b>{{name}}</b></p>
            </v-overlay>
        </v-img>
    </div>
</v-col>
</template>

<style>
.card-category-title {
    font-size: 5vw;
    /*;-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;*/
}

.card-image {
    border-radius: 0rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text-color {
    color: white;
}
</style>

<script>
module.exports = {
    name: "data-field",
    props: {
        id: {
            type: Number,
            required: true
        },
        name: {
            type: String,
            required: true,
        },
        image: {
            type: String,
            required: true,
        },
    },
    data() {
        return {
            overlay: true,
        };
    },
    methods: {
        emit: function () {
            console.log("Sending event... [CategoryCard] -----> [MainPanel]");
            this.$emit('show_products', this.id);
        }
    },
    mounted() {
        console.log("[cordovue] Category Card started!");
    },
};
</script>
