<template>
<div class="dataField">
    <div class="colorfulPortion" v-bind:id="index" :key="bgcolor">
        <v-col :cols="12">
            <v-row>
                <div class="badge" :id="'badge'+index" v-html="amount + unit"></div>
            </v-row>
            <v-row>
                <span class="vitaminLabel">{{ name }}</span>
            </v-row>
        </v-col>
    </div>
</div>
</template>

<style>
.badge {
    font-size: 2vw;
    overflow: visible;
    margin: 0 auto;
    height: 12vh;
    width: 12vh;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    /*background: #75e6b1;*/

    display: flex;
    align-items: center;
    justify-content: center;
    color: maroon;
}

.dataField {
    padding: 1vw;
    margin: 0 auto;
}

.colorfulPortion {
    height: 17vh;
    width: auto;
    min-width: 17vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
    /*background-image: linear-gradient(#8df7c5, #79f1b9);*/
}

.vitaminLabel {
    font-size: 1.7vw;
    color: maroon;
    margin: 0 auto;
}
</style>

<script>
module.exports = {
    name: "data-field",

    props: {
        index: String,
        name: {
            type: String,
            required: true,
        },
        amount: {
            type: String,
            required: true,
        },
        unit: {
            type: String,
            required: true,
        },
        icon: {
            type: String,
            required: true,
        },
    },
    data() {
        return {
            size: ["xl"],
            bgcolor: "",
            colores: [
                /*"linear-gradient(rgba(245, 222, 179, 0.5), rgba(245, 222, 179, 1))",*/

                "linear-gradient(rgba(255,195,177, 0.5), rgba(255,195,177, 0.5)"

            ],
            markers: [
                /*"rgba(245, 222, 179, 0.8)",*/
                "rgba(255,195,177, 0.8)"
            ]
        };
    },
    created() {
        console.log("[cordovue] DataField created!!---------------------- ");
    },
    mounted() {
        console.log("[cordovue] DataField mounted!---------------------- ");
        var diva = (document.getElementById(this.index));
        var badgeDiv = document.getElementById('badge' + this.index);

        console.log("this element id: " + this.index);
        console.log("element: " + JSON.stringify(diva));
        //this.backgroundColor = this.colors[Math.floor(Math.random() * this.colors.length)];
        //this.bgcolor = "red";

        console.log("ADDING COLOR : " + this.bgcolor + " to div: " + JSON.stringify(diva));

        var i = this.colores.length;
        var colorId = Math.floor(Math.random() * i);
        console.log("badge: " + JSON.stringify(badgeDiv))
        diva.style.background = this.colores[colorId];
        badgeDiv.style.background = this.markers[colorId];
        //for (i = 0; i < divs.length; i++) divs[i].style.background = "#63e0a6";
    },

    updated() {
        //console.log("UPDATED: " + this.bgcolor);
        //console.log("new bgcolor: " + document.getElementById(this.index).style.backgroundColor);
    },
};
</script>
