<template>
<v-row style="
      height: auto;
      width: 100%;
      margin: 0 auto;
      background: white;
      padding-left: 1vw;
      padding-right: 1vw;
      padding-bottom: 10vh;
    ">
    <v-row style="width: 80vw; background: ghostWhite">
        <v-col :cols="6" style="color: black; text-align: left">
            <p style="font-size: 3vw; font-weight: bold">Crepes de espinafres</p>
            <p style="font-size: 2vw">
                Fáceis e rápidos, os crepes de espinafres com recheio de cogumelos são
                ideais para quando o tempo é curto, mas não se quer privar do sabor.
                Deliciosos!
            </p>
            <p style="font-size: 2vw"><b>FÁCIL 30 MIN. 8 PESSOAS</b></p>
        </v-col>
        <v-col :cols="6">
            <v-img style="height: 100%; width: auto" src="./img/pizza.jpeg"></v-img>
        </v-col>
    </v-row>

    <v-row style="width: 80vw; padding-top: 1vh">
        <v-col :cols="4" style="color: black; text-align: left">
            <span style="font-size: 2.5vw; font-weight: bold">INGREDIENTES</span>
            <ul>
                <li v-for="ingredient in ing" :key="ingredient" style="font-size: 1.5vw; color: black; margin-bottom: 0.5vh">
                    {{ ingredient }}
                </li>
            </ul>
        </v-col>
        <v-col :cols="8" style="color: black; text-align: left">
            <span style="font-size: 2.5vw; font-weight: bold">PREPARAÇÃO</span>
            <li v-for="ingredient in prep" :key="ingredient" style="font-size: 1.5vw; color: black; margin-bottom: 0.5vh">
                {{ ingredient }}
            </li>
        </v-col>
    </v-row>
</v-row>
</template>

<style scoped>
.ow {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.recipeHeader {
    height: 80vh;
}

.verticalCenter {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipeTitle {
    text-align: center;
    width: 100%;
    font-size: 2.5vw;
}

.iconImage {
    width: 100%;
    height: 100%;
}

.recipeHeader {
    font-size: 2vw;
    margin-left: 1vw;
    margin-right: 1vw;
    text-align: left;
    width: 100%;
    color: black;
}

.instructions {
    font-size: 2vw;
    margin-left: 1vw;
    margin-right: 1vw;
    color: black;
}

.ingredient {
    font-size: 1.2vw;
    color: black;
}
</style>

<script>
module.exports = {
    props: {
        umtitulo: {
            type: String,
            required: true,
        },
    },
    data() {
        return {
            ing: [
                "3 embalagens de massa de pizza Continente Fácil&Bom",
                "150 ml de polpa de tomate com manjericão e orégãos Continente",
                "150 g de queijo mozarela ralado",
                "1 chouriço de carne",
                "100g de azeitonas pretas às rodelas Continente",
                "3 embalagens de massa de pizza Continente Fácil&Bom",
                "150 ml de polpa de tomate com manjericão e orégãos Continente",
                "150 g de queijo mozarela ralado",
                "1 chouriço de carne",
                "100g de azeitonas pretas às rodelas Continente",
            ],
            prep: [
                "Com um aro cortador ou um copo largo, corte a massa das pizzas em pequenas porções.",
                "Distribua e espalhe a polpa de tomate pelas bases, assim como o queijo mozarela.",
                "Retire a pele ao chouriço, corte-o em pequenos cubos e espalhe-os pelas bases.",
                "Faça o mesmo com as azeitonas.",
                "Leve as minipizzas ao forno pré-aquecido a 200ºC por cerca de 10 minutos.",
            ],
        };
    },
    methods: {
        fitText: function () {
            /*if (this.id == 1) console.log("doing shit on this card: " + this.id);
                        if (this.id == 1) console.log("Current size: " + this.titleSize);
                        var text = document.getElementsByClassName("resizable");

                        text[this.id].style.fontSize = this.titleSize + "vh";
                        text[this.id].style.height = "auto";
                        text[this.id].style.width = "auto";
                        text[this.id].innerHTML = this.title;

                        var width = Math.ceil(text[this.id].clientWidth);
                        formattedTextWidth = width;
                        if (this.id == 1)
                            console.log("Current text space is: " + formattedTextWidth + "px");

                        var div = document.getElementsByClassName("resizableDiv");
                        width = Math.ceil(div[this.id].clientWidth);
                        formattedDivWidth = width;
                        if (this.id == 1)
                            console.log("Current div space is: " + formattedDivWidth + "px");

                        if (formattedTextWidth >= formattedDivWidth) {
                            if (!this.titleBroke && this.title.split(" ").length > 3) {
                                this.titleBroke = true;
                                var words = this.title.split(" ");
                                var middlePointer = parseInt(words.length / 2);
                                var i;
                                var partB = [];
                                for (i = 0; i < words.length; i++) {
                                    if (i >= middlePointer - 1) partB.push(words[i]);
                                    console.log("------------>Filter")
                                }
                                var partA = words.join(" ").split(" ", middlePointer);

                                this.title = partA.join(" ") + "<br>" + partB.join(" ");
                                console.log("WORDS: " + words);
                                console.log("PARTA: " + partA);
                                console.log("PARTB: " + partB);
                                console.log("-------->BREAKING LINE<---------");
                            }
                            console.log("Stabilizing font size...:" + text[this.id].style.fontSize);
                            this.titleSize -= 0.1;
                            text[this.id].style.fontSize = this.titleSize + "vh";
                        } else {
                            if (this.id == 1) console.log("Size stabilized");
                        }*/

            console.log("refit text");
        },
    },
};
</script>
