<template>
  <v-app style="background: rgba(135, 206, 235, 0.1)">
    <toolbar
      v-if="pageId >= 0"
      id="toolbar"
      :title="'V A L O R M A R  -  Q U I O S Q U E'"
      :buttonback="pageId > 0"
      v-on:go_back="go_back"
      v-on:open_admin_panel="open_admin_panel"
    ></toolbar>

    <l01
      v-if="pageId == 0"
      :title="'Categoria'"
      :things="items"
      v-on:show_products="showProducts"
    ></l01>
    <l02
      v-if="pageId == 1"
      style="width: 100%"
      :title="title"
      :products="catalog"
      :columns="4"
      v-on:show_product_intel="show_product_intel"
    ></l02>
    <l03 v-if="pageId == 2" :product="productOfInterest"></l03>

    <l04
      v-if="adminPanel"
      :offlineproducts="productCatalog.fresh"
      :onlineproducts="productOnline.fresh"
      v-on:auth_info="saveAuthInfo"
    ></l04>
  </v-app>
</template>

<script>
Vue.component("toolbar", httpVueLoader("./components/toolbar.vue"));
Vue.component("l01", httpVueLoader("./layouts/l01.vue"));
Vue.component("l02", httpVueLoader("./layouts/l02.vue"));
Vue.component("l03", httpVueLoader("./layouts/l03.vue"));
Vue.component("l04", httpVueLoader("./layouts/l04.vue"));

module.exports = {
  data() {
    return {
      // Account information
      operator: null,

      adminPanel: false,
      showProductsList: false,
      pageId: 0,
      catalog: null,
      title: null,
      productOfInterest: null,
      items: [
        {
          id: 0,
          name: "Frescos",
          image: "img/fresh-fish.jpg",
          products: "resources/dataFiles/productCatalog.json",
        },
        {
          id: 1,
          name: "Congelados",
          image: "img/frozen-fish.jpg",
          products: "resources/dataFiles/productCatalog.json",
        },
        {
          id: 2,
          name: "Enlatados",
          image: "img/canned-fish.jpg",
          products: "resources/dataFiles/productCatalog.json",
        },
      ],
      productCatalog: {
        fresh: [
          {
            id: 0,
            name: "Sardinha",
            src: "img/sardinha.jpg",
            species: "Sardinha",
            oldPrice: 14.99,
            price: 2.99,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
          {
            id: 1,
            name: "Dourada",
            src: "img/dourada-fresh.jpg",
            species: "Dourada",
            oldPrice: 0,
            price: 12.99,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
          {
            id: 2,
            name: "Pescada",
            src: "img/frozen-fish-steak.jpg",
            species: "Pescada",
            oldPrice: 0,
            price: 12.99,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
          {
            id: 3,
            name: "Linguado Legítimo",
            src: "img/linguado.jpg",
            species: "Linguado Legítimo",
            oldPrice: 0,
            price: 12.99,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
          {
            id: 4,
            name: "Pargo Legítimo",
            src: "img/pargo.png",
            species: "Pargo Legítimo",
            oldPrice: 14.99,
            price: 5.99,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
          {
            id: 5,
            name: "BIFE DE ATUM",
            src: "img/tunasteak.png",
            species: "Dourada",
            oldPrice: 14.99,
            price: 2.78,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
          {
            id: 6,
            name:
              "Mas que belo peixe que aqui vai congelado e tudo que está,Mas que belo peixe que aqui vai congelado e tudo que está,Mas que belo peixe que aqui vai Mas que belo peixe que aqui vai, Mas que belo peixe que aqui",
            src: "img/tunasteak.png",
            species: "Dourada",
            oldPrice: 0,
            price: 0,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
          {
            id: 7,
            name: "BIFE DE ATUM",
            src: "img/tunasteak.png",
            species: "Dourada",
            oldPrice: 14.99,
            price: 12.99,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
          {
            id: 8,
            name: "BIFE DE ATUM",
            src: "img/tunasteak.png",
            species: "Dourada",
            oldPrice: 14.99,
            price: 8.99,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
          {
            id: 9,
            name: "LATA DE ATUM EM AZEITE",
            src: "https://picsum.photos/200",
            species: "Dourada",
            oldPrice: 14.99,
            price: 12.99,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
          {
            id: 10,
            name: "BIFE DE ATUM",
            src: "img/tunasteak.png",
            oldPrice: 14.99,
            price: 12.99,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
          {
            id: 11,
            name: "BIFE DE ATUM",
            src: "img/tunasteak.png",
            species: "Dourada",
            oldPrice: 14.99,
            price: 12.99,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
          {
            id: 12,
            name: "BIFE DE ATUM",
            src: "img/tunasteak.png",
            species: "Dourada",
            oldPrice: 14.99,
            price: 12.99,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
          {
            id: 13,
            name: "BIFE DE ATUM",
            src: "img/tunasteak.png",
            species: "Dourada",
            oldPrice: 14.99,
            price: 5.67,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
        ],

        frozen: [
          {
            id: 0,
            name: "BIFE DE ATUM",
            src: "img/frozen-fish-steak.jpg",
            species: "Dourada",
            oldPrice: 0,
            price: 0,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
          {
            id: 1,
            name:
              "Mas que belo peixe que aqui vai congelado e tudo que está,Mas que belo peixe que aqui vai congelado e tudo que está,Mas que belo peixe que aqui vai Mas que belo peixe que aqui vai, Mas que belo peixe que aqui",
            src: "img/frozen-fish-steak.jpg",
            species: "Dourada",
            oldPrice: 14.99,
            price: 5.99,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
          {
            id: 2,
            name: "BIFE DE ATUM",
            src: "img/frozen-fish-steak.jpg",
            species: "Dourada",
            oldPrice: 0,
            price: 12.99,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
          {
            id: 3,
            name: "BIFE DE ATUM",
            src: "img/frozen-fish-steak.jpg",
            species: "Dourada",
            oldPrice: 14.99,
            price: 12.99,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
          {
            id: 4,
            name: "BIFE DE ATUM",
            src: "img/frozen-fish-steak.jpg",
            species: "Dourada",
            oldPrice: 14.99,
            price: 8.99,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
          {
            id: 5,
            name: "LATA DE ATUM EM AZEITE",
            src: "img/frozen-fish-steak.jpg",
            species: "Dourada",
            oldPrice: 14.99,
            price: 12.99,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
          {
            id: 6,
            name: "BIFE DE ATUM",
            src: "img/frozen-fish-steak.jpg",
            species: "Dourada",
            oldPrice: 14.99,
            price: 12.99,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
          {
            id: 7,
            name: "BIFE DE ATUM",
            src: "img/frozen-fish-steak.jpg",
            species: "Dourada",
            oldPrice: 14.99,
            price: 12.99,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
          {
            id: 8,
            name: "BIFE DE ATUM",
            src: "img/frozen-fish-steak.jpg",
            species: "Dourada",
            oldPrice: 14.99,
            price: 12.99,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
          {
            id: 9,
            name: "BIFE DE ATUM",
            src: "img/frozen-fish-steak.jpg",
            species: "Dourada",
            oldPrice: 14.99,
            price: 12.99,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
        ],

        canned: [
          {
            id: 0,
            name: "BIFE DE ATUM",
            src: "img/tunacanpng.png",
            species: "Dourada",
            oldPrice: 0,
            price: 0,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
          {
            id: 1,
            name:
              "Mas que belo peixe que aqui vai congelado e tudo que está,Mas que belo peixe que aqui vai congelado e tudo que está,Mas que belo peixe que aqui vai Mas que belo peixe que aqui vai, Mas que belo peixe que aqui",
            src: "img/tunacanpng.png",
            species: "Dourada",
            oldPrice: 14.99,
            price: 5.99,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
          {
            id: 2,
            name: "BIFE DE ATUM",
            src: "img/tunacanpng.png",
            species: "Dourada",
            oldPrice: 0,
            price: 12.99,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
          {
            id: 3,
            name: "BIFE DE ATUM",
            src: "img/tunacanpng.png",
            oldPrice: 14.99,
            price: 12.99,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
          {
            id: 4,
            name: "BIFE DE ATUM",
            src: "img/tunacanpng.png",
            species: "Dourada",
            oldPrice: 14.99,
            price: 8.99,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
          {
            id: 5,
            name: "LATA DE ATUM EM AZEITE",
            src: "https://picsum.photos/200",
            oldPrice: 14.99,
            price: 12.99,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
          {
            id: 6,
            name: "BIFE DE ATUM",
            src: "img/tunacanpng.png",
            species: "Dourada",
            oldPrice: 14.99,
            price: 12.99,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
          {
            id: 7,
            name: "BIFE DE ATUM",
            src: "img/tunacanpng.png",
            species: "Dourada",
            oldPrice: 14.99,
            price: 12.99,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
          {
            id: 8,
            name: "BIFE DE ATUM",
            src: "img/tunacanpng.png",
            species: "Dourada",
            oldPrice: 14.99,
            price: 12.99,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
          {
            id: 9,
            name: "BIFE DE ATUM",
            src: "img/tunacanpng.png",
            species: "Dourada",
            oldPrice: 14.99,
            price: 12.99,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
        ],
      },

      productOnline: {
        products: [
          {
            id: 0,
            name: "BIFE DE ATUM Online",
            src: "https://picsum.photos/200",
            oldPrice: 0,
            price: 0,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
          {
            id: 1,
            name:
              " Online Mas que belo peixe que aqui vai congelado e tudo que está,Mas que belo peixe que aqui vai congelado e tudo que está,Mas que belo peixe que aqui vai Mas que belo peixe que aqui vai, Mas que belo peixe que aqui",
            src: "https://picsum.photos/200",
            oldPrice: 14.99,
            price: 5.99,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
          {
            id: 2,
            name: "BIFE DE ATUM  Online",
            src: "https://picsum.photos/200",
            oldPrice: 0,
            price: 12.99,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
          {
            id: 3,
            name: "BIFE DE ATUM Online",
            src: "https://picsum.photos/200",
            oldPrice: 14.99,
            price: 12.99,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
          {
            id: 4,
            name: "BIFE DE ATUM Online",
            src: "https://picsum.photos/200",
            oldPrice: 14.99,
            price: 8.99,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
          {
            id: 5,
            name: "LATA DE ATUM EM AZEITE Online",
            src: "https://picsum.photos/200",
            oldPrice: 14.99,
            price: 12.99,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
          {
            id: 6,
            name: "BIFE Tuna",
            src: "img/tunasteak.png",
            oldPrice: 14.99,
            price: 12.99,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
          {
            id: 7,
            name: "BIFE DE ATUM Online",
            src: "img/tunasteak.png",
            oldPrice: 14.99,
            price: 12.99,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
          {
            id: 8,
            name: "BIFE DE ATUM Online",
            src: "img/tunasteak.png",
            oldPrice: 14.99,
            price: 12.99,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
          {
            id: 9,
            name: "BIFE DE ATUM Online",
            src: "img/tunasteak.png",
            oldPrice: 14.99,
            price: 12.99,
            "Disponivel em Loja": true,
            "Disponivel online": true,
          },
        ],
      },
    };
  },
  methods: {
    saveAuthInfo: function (package) {
      console.log("Saving authentication...." + JSON.stringify(package));
      this.operator = package.operator;
    },
    showProducts: function (category) {
      // clearInterval(this.interval);
      console.log("Showing products list: ", category);

      this.title = this.items[category].name;

      /* Temporary workaround */
      this.pageId = 1;

      switch (category) {
        case 0:
          this.catalog = this.productCatalog.fresh;
          break;
        case 1:
          this.catalog = this.productCatalog.frozen;
          break;
        case 2:
          this.catalog = this.productCatalog.canned;
          break;
      }
    },

    show_product_intel: function (productId) {
      this.pageId = 2;
      console.log("Current poi: " + this.productOfInterest);
      console.log("PRODUCT ID TO INSPECT: " + productId.id);
      this.productOfInterest = productId;
      console.log("Updated poi: " + JSON.stringify(this.productOfInterest));
      console.log("PAGE ID IS NOW: " + this.pageId);
    },

    go_back: function () {
      this.pageId--;
      console.log("PageID updated...");
    },
    open_admin_panel: function () {
      this.adminPanel = true;
      this.pageId = -1;
    },
  },
  mounted() {
    console.log("[cordovue] Application started!");

    console.log("ADDING VUE LAYERS");
    //this.interval = setInterval(() => this.updateList(), 1000);

    /* this.adminPanel = true;
         this.pageId = -1;*/
  },
};
</script>
