<template>
  <div>
    <p class="label-title">{{ title }}</p>
    <v-row style="margin: 0 auto">
      <card-category
        v-for="item in things"
        :key="item"
        :id="item.id"
        :name="item.name"
        :image="item.image"
        v-on:show_products="showProducts"
      ></card-category>
    </v-row>
  </div>
</template>

<style scoped>
.label-title {
  font-size: 7vh;
  padding-bottom: 0vh;
  margin: 0 auto;
  width: 50vw;
}
</style>

<script>
Vue.component(
  "card-category",
  httpVueLoader("../components/card-category.vue")
);

module.exports = {
  name: "Layout 01",
  props: {
    title: {
      type: String,
      required: true,
    },
    things: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      alignmentsAvailable: ["start", "center", "end", "baseline", "stretch"],
      alignment: "center",
      dense: false,
      justifyAvailable: [
        "start",
        "center",
        "end",
        "space-around",
        "space-between",
      ],
      justify: "center",
    };
  },
  methods: {
    showProductsList2: function () {
      console.log("showProducts list: ");
    },
    showProducts: function (id) {
      console.log("Sending event... [MainPanel] -----> [App]");
      this.$emit("show_products", id);
    },
  },
  mounted() {
    console.log("[cordovue] MainSlider started!");
  },
};
</script>
